.match {
  @apply relative block rounded-xl bg-white p-4 pt-[50px] xl:py-[14px];

  &::before {
    @apply absolute left-0 top-9 h-[1px] w-full bg-gray/10 content-[""] xl:hidden;
  }

  &_due .match__status {
    @apply text-gray;
  }

  &_live .match__status {
    @apply text-orange;
  }

  &__status {
    @apply absolute left-4 top-2 text-xs md:text-sm;
    @apply xl:top-1/2 xl:-translate-y-1/2;
  }

  &__text {
    @apply font-bold uppercase;
  }

  &__forecast {
    @apply absolute right-2 top-[3px];
    @apply xl:right-4 xl:top-1/2 xl:-translate-y-1/2;
  }

  & .btn-with-icon__forecast {
    @apply text-xs md:text-sm;
  }
}
